nav{
height: 50px;
background-color: black;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}


.title-style{
    font-style: oblique;
    font-size: small;
    
}
.nav-menu{
    display: flex;
    font-size: small;
    list-style: none;
    align-items: center;
   
}
.nav-menu a{
    text-decoration: none;
    color: white;
   
}
.nav_item {
    margin-right: 15px;
    border-right: 1px solid #fff;
}
.nav_item-icon{
    margin-right: 15px;
    border-right: 1px solid #fff;
}
.nav-menu >li:last-child{
    border: none;
 }
.link{
    padding: 10px;
}


@media only screen and (max-width: 640px ){
  nav{
     flex-direction: column; 
      height: auto;
    /*   flex-wrap: wrap-reverse; */
  }
  nav>div{
      margin-bottom: 10px;
  }

   }






