<nav>
    <div id="logo"><img src="assets/img/logo.jpg" alt=""></div>
    <div id="nav_text">LASTEST NEWS:<span class="title-style"> Welcome to STU Online</span></div>
    <div>
       <ul  class="nav-menu">
           <li class="nav_item"><a class="link" href="#">NEWS</a></li>
           <li class="nav_item"><a class="link" href="#">REWARDS</a></li>
           <li class="nav_item-icon"><a class="link" href="#"><i class="fas fa-user-circle fa-2x"></i></a></li>
       </ul>
    </div>
</nav>