<app-side-menu></app-side-menu>
<div class="content_2">
  <img src="assets/img/logo2.jpg" alt="" style="margin-bottom: 15px;" class="logo-quarq">
  <ul class="side_btn">
    <li class="menu_item"><a class="menu_link" href="#">All</a></li>
    <li class="menu_item"><a class="menu_link" href="#">New</a></li>

  </ul>
</div>

<div class="articles">


  <div class="item">
    <div class="title">
      Quarq ShockWiz: An Automated Suspension
      tuning Device
    </div>
    <div class="icons">
      <span class="white">1</span>
      <span class="green">&#x2713;</span>
      <span class="red">20</span>
    </div>
    <div>
      <p class="sub-title">
        Introduction and overview of the Quarq Shockwiz
      </p>
    </div>
  </div>

  <div class="item">
    <div class="title">
      TyreWiz-bicycle tire
      pressure sensor
    </div>
    <div class="icons">
      <span class="white">1</span>

      <span class="red">20</span>
    </div>
    <div>
      <p class="sub-title">
        Introduction and overview of the Quarq TyreWiz
      </p>
    </div>
  </div>
  <div class="item">
    <div class="title">
      the Heart of Your
      Bicycle:Quarq Factory
      Tour
    </div>
    <div class="icons">
      <span class="white">1</span>

      <span class="red">20</span>
    </div>
    <div>
      <p class="sub-title">

        Introduction and overview of the Quarq factory
      </p>
    </div>
  </div>
  <div class="item">

    <div class="title">
        QUARQ:Know Your
        Powers
    </div>
   


    <div class="icons">
      <span class="white">1</span>

      <span class="red">20</span>
    </div>
    <div>
      <p class="sub-title">

        introduction to the Quarq brand and history
      </p>
    </div>
  </div>
  <div class="item">
    <div class="title">
      Quarq Dzero-Reach A
      HigherLevel
    </div>
  
    <div class="icons">
      <span class="white">2</span>
      <span class="red">20</span>
    </div>
    <div>
      <p class="sub-title">
        Overview of the Quarq DZero features and technologies
      </p>
    </div>
    <div>
      <p>

      </p>
    </div>
  </div>
</div>
