

:host{
    display: flex;

}
.content_2{
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap; 
  flex-direction: column; 
 align-items: center;
  
}
.articles{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    
}
.item{
    width: 150px;
    margin-right: 10px;
}
.title{
font-size: 15px;
}
.sub-title{
    font-size: 10px;
    color: #918d8d;
}

.side_btn li{
    font-size: 10px;
    background: #fff;
    width: 170px;
    border-radius: 3px;
    border: 1px solid #cccbcc;
    padding: 5px 0 10px 0px;
    margin-bottom: 5px;
    text-align: center;
    list-style: none;
    
}
.side_btn li:hover{
    background-color: #eeeeee;
}
.menu_link{
    text-decoration: none;
    color: black;
    display: block;
}


/* buttons */
 span.white {


    background: #fff;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color:  rgb(100, 100, 100);
    font-size: small;
    display: inline-block;
     border: 1px solid #cccccc;
    line-height: 1.4em;
    margin-right: 8px;
    text-align: center;
    width: 1.4em; 
  }
  span.red {
   

    background: #bd363d;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: white;
    font-size: small;
    display: inline-block;
     border: 1px solid #cccccc;
    line-height: 1.4em;
    margin-right: 8px;
    text-align: center;
    width: 1.4em; 
    
  }
  span.green {
    background: #34cf1d;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: white;
    font-size: small;
    display: inline-block;
     border: 1px solid #cccccc;
    line-height: 1.4em;
    margin-right: 8px;
    text-align: center;
    width: 1.4em; 
  
  }
.icons{
    margin-top: 10px;
}
.logo-quarq{
 width: 125px;

}




/* medias */
@media only screen and (max-width: 800px){

     :host{
        flex-wrap: wrap;
        padding: 25px;
       
    } 
    .articles{
        margin-left: 20px;
    }
}