
   <ul class="side_menu">
       <li class="menu_item"><a class="menu_link" href="#">All</a></li>
       <li class="menu_item"><a class="menu_link" href="#">New</a></li>
       <li class="menu_item"><a class="menu_link" href="#">Tier 1</a></li>
       <li class="menu_item"><a class="menu_link" href="#">Tier 2</a></li>
       <li class="menu_item"><a class="menu_link" href="#">Tier 3</a></li>
   </ul>

