
.side_menu{
    margin:0 15px;
    display: flex;
    flex-direction: column; 
}

.side_menu li{
    font-size: 10px;
    background: #fff;
    width: 170px;
    border-radius: 3px;
    border: 1px solid #cccbcc;
    padding: 5px 0 10px 0px;
    margin-bottom: 5px;
    text-align: center;
    list-style: none;
    
}
.side_menu li:hover{
   
    background: #eeeeee;
  
 
}
.side_menu a{
   display: block;
  text-decoration: none;
  color:black;
 font-weight: 600;
}



@media only screen and (max-width: 800px ){
 .side_menu{
     flex-direction: row; 
   flex-wrap: wrap;
 }
 .side_menu li{
     width: 100px;
 }
}