/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }
  body{
    font-family: "Lato", sans-serif;
  }

